<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Title</title>
    <link rel="stylesheet" href="css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>
<body>
    <header>
        <div>
            <h1>KsisQuiz</h1>
            <div>
                <h1>Kim:</h1>
                <a href="#"><i class="far fa-user-circle"></i></a>
            </div>
        </div>
    </header>
    <div class="question-card-box">
        <form action="handler.php" class="form-box">
            <div class="question-card-open">
                <div class="question-open">
                    <h2>Question:<br>Choose the best faculty?</h2>
                </div>
                <div class="answers">
                    <div>
                        <input type="radio"  class="custom-radio" id="answer1" name="answer1" value="1">
                        <label for="answer1">Faculty of Computer-Aided Design</label><Br>
                    </div>
                    <div>
                        <input type="radio"  class="custom-radio" id="answer2" name="answer1" value="1">
                        <label for="answer2">Military Faculty</label><Br>
                    </div>
                    <div>
                        <input type="radio" class="custom-radio" id="answer3" name="answer1" value="1">
                        <label for="answer3">Faculty of Computer Systems and Networks</label><Br>
                    </div>
                    <div>
                        <input type="radio" class="custom-radio" id="answer4" name="answer1" value="1">
                        <label for="answer4">Faculty of Enginering and Economy</label><Br>
                    </div>
                </div>
            </div>
            <div class="button-box">
                <button type="submit"><h2>Next</h2></span></button>
            </div>
        </form>
    </div>
    <footer>
        <h6>Copyright © 2021 Kachan Lubava. All rights reserved.</h6>
    </footer>

</body>
</html>